<section class="page-section bg-light" 
    id="team">
    <div class="container">

        <!-- STUB testimonial title -->
        <div class="text-center">
            <h2 class="section-heading text-uppercase">
                Rodrigo Marron
            </h2>
            <h3 class="section-subheading text-muted">
                Software Engineer | Project Manager | architect | Designer 
            </h3>
        
        </div>

        <div class="row">

            <!-- STUB 1st testimonial -->
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" 
                        src="assets/img/portfolio/profile.jpeg" 
                        alt="profile picture" />

                </div>
            </div>

            <!-- STUB 2nd testimonial -->
            <div class="col-lg-8">
                <div class="team-member ">
                    <h4>
                        Greetings!
                    </h4>
                    <p>
                        I was born in Mexico City. I was raised in Sugar Land/ Houston, TX and traveled to Mexico as often as I could. The constant experiences with Mexico's rich culture and history set me on my path to wanting to become an architect. <br> My undergrad and professional career in architecture gave me minimal, yet sufficient, exposure to coding to know this was something special I really wanted to learn and be a part of.
                        <br><br>
                        Fast forward to mid 2020. I had been laid off due to the pandemic and I was struggling to find work in the architecture/ construction industries. My partner and I realized there would never be a better time to make the career pivot I had been yearning for but hadn't made. In August 2020 I enrolled in General Assembly's 12-week Software Engineering Immersive-Remote Program and buckled up!
                        <br><br>
                        Today I can proudly say that I am an architect, designer, and project manager turned full stack software engineer. I’m driven by the increasing demand for adult up/re-skilling and I want to create new inroads for people through the digital products I help build.
                        
                    </p>
                </div>
            </div>



        </div>

        <!-- STUB closing testimonials -->
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted"> 
                    Please feel free to reach out to me or follow me on any of my social media platforms below! 
                </p>
            </div>
        </div>

    </div>
    
</section>