
<!-- 
    Social Media Button
    Source: https://codepen.io/rodmarec/pen/ExKZGpZ?editors=1100
    Author: Dalton Hart
-->


<body class="light">
    <div class="share">

        <section class="share__cover">
            <i class="fas fa-share-alt"></i> 
            Connect!
        </section> 

        <!-- STUB Linkedin link -->
        <a href="https://www.linkedin.com/in/rodrigo-marron/" 
            class="share__icon--linkedin"
            target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>

        <!-- STUB Github link -->
        <a href="https://github.com/rodmarrec" 
            class="share__icon--github"
            target="_blank">
            <i class="fab fa-github-alt"></i>
        </a>

        <!-- STUB Instagram link -->
        <a href="https://www.instagram.com/untold_threshold/" 
            class="share__icon--instagram"
            target="_blank">
            <i class="fab fa-instagram"></i>
        </a>

        <!-- STUB Medium link -->
        <a href="https://romarron01.medium.com/" 
            class="share__icon--medium">
            <i class="fab fa-medium"></i>
        </a>


    </div>
</body>