<section class="page-section" 
    id="contact">
    <br><br>

        <div class="d-flex justify-content-center">

            <!-- STUB contact button -->
            <%- include ("./connect-btn.ejs") -%>

        </div>
    <br><br>
</section>