<section class="page-section" 
    id="contact">

        <div class="d-flex justify-content-center">

            <!-- STUB contact button -->
            <%- include ("./connect-btn.ejs") -%>

        </div>
</section>