<section class="page-section" 
    id="contact">
    <div class="container">

        <!-- STUB contact top -->
        <div class="text-center">

            <!-- STUB contact button -->
            <%- include ("./connect-btn.ejs") -%>
        </div>

    </div>
</section>