<body class="text-center">

        <main role="main" 
            class="inner cover">

            <!-- STUB image -->
            <div class="bg">

            <h3 class="cover-heading"
                style="font-size: 1.8em; 
                    color: aliceblue;">
                Rodrigo Marron
            </h3>
        </div>
            
        </main>

</body>