<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main role="main" 
            class="inner cover">

            <!-- STUB image -->
            <div class="bg"></div>

            <h1 class="cover-heading">
                rodrigo marron
            </h1>
            <p class="lead">
                :software engineer
            </p>
            <p class="lead">
                <!-- STUB contact button -->
                <%- include ("./footer/connect-btn.ejs") -%>
            </p>
        </main>

    </div>
</body>