<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">

            <!-- STUB footer copyright -->
            <div class="col-lg-4 text-lg-left">
                Copyright © Your Website 2020
            </div>

            

            <div class="col-lg-4 my-3 my-lg-0">

                <!-- STUB contact button -->
            <%- include ("./connect-btn.ejs") -%>
            
                <!-- STUB twitter icon -->
                <a class="btn btn-dark btn-social mx-2" 
                    href="#!">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- STUB facebook icon -->
                <a class="btn btn-dark btn-social mx-2" 
                    href="#!">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- STUB linkedin icon -->
                <a class="btn btn-dark btn-social mx-2" 
                    href="#!">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                
            </div>

        </div>
    </div>
</footer>