<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">

            <!-- STUB footer copyright -->
            <div class="col-lg-12 my-3 my-lg-0">
                <a href="https://www.linkedin.com/in/rodrigo-marron/"
                    target="_blank">
                    © 2020 <strong>Rodrigo Marron</strong>
                </a>
            </div>


        </div>
    </div>
</footer>