<section class="page-section" id="about">

    <div class="container">

        <!-- STUB About title -->
        <div class="text-center">
            <h2 class="section-heading text-uppercase">
                My Journey
            </h2>
            <h3 class="section-subheading text-muted">
                thus far
            </h3>
        
        </div>

        <!-- STUB timeline -->
        <ul class="timeline">

                        <!-- STUB timeline end (bottom) -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    This 
                                    <br />
                                    could be
                                    <br />
                                    You!
                                </h4>
                            </div>
                        </li>

            <!-- STUB timeline 1st (top) -->
            <li>
                <div class="timeline-image">
                    <a href="https://generalassemb.ly/" target="_blank">
                        <img class="rounded-circle img-fluid" 
                            src="assets/img/ga_logo_r.png" 
                            alt="General Assembly company logo" />
                    </a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            Aug 2020 - Nov 2020
                        </h4>
                        <h5 class="subheading">
                            General Assembly
                        </h5>
                        <p class="item-intro text-muted">
                            Software Engineering Fellow
                            <br>
                            <a href="https://drive.google.com/file/d/1sOS1I93f1RJS5ksSIT0jz_vq0j_2DTeF/view?usp=sharing" 
                                target="_blank">
                                <i class="fas fa-file"></i>
                                Certificate of Completion
                            </a>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            After being laid off as a result of the pandemic, I decided 2020 would be a year of enormous growth and change for me and my partner. I'd been wanting to learn how to code for the past 5 years and this gave me the drive to finally commit myself to doing it!
                            <br><br>
                            In just 12 weeks I learned a combination of +10 Programming languages, frameworks, and libraries, built 3 full stack web applications, and dedicated +600 hours to in-class learning, building, breaking, and debugging.
                            <br>
                        </p>
                    </div>
                </div>
            </li>

            <!-- STUB timeline 2nd (from top) -->
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <a href="https://www.wework.com/" target="_blank">
                        <img class="rounded-circle img-fluid" 
                            src="assets/img/ww_1.jpg" 
                            alt="WeWork company logo" />
                    </a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            Jul 2018 - Jun 2020
                        </h4>
                        <h5 class="subheading">
                            WeWork, Enterprise Projects Team
                        </h5>
                        <p class="item-intro text-muted">
                            Assistant Project Manager
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            I joined WeWork at the onset of the U.S. West Enterprise Projects team. My onboarding group brought the young team's headcount to +10 and in less than a year the team grew to +50 people. In the same time period, WeWork grew from 6,000 employees to +10,000 worldwide.
                            <br><br>
                            I worked on multiple cross-functional teams on domestic projects in San Francisco, Los Angeles, Salt Lake City, and Chicago as well as international ones in Berlin, Melbourne, and Singapore.
                        </p>
                    </div>
                </div>
            </li>

            <!-- STUB timeline 3rd (from top) -->
            <li>
                <div class="timeline-image">
                    <a href="https://www.dskarch.com/" target="_blank">
                        <img class="rounded-circle img-fluid" 
                            src="assets/img/dsk_w3-copy.png" 
                            alt="dsk architects company logo" />
                    </a>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            Mar 2016 - Jul 2018
                        </h4>
                        <h5 class="subheading">
                            dsk architects
                        </h5>
                        <p class="item-intro text-muted">
                            Job Captain
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            Dsk architects brought me to San Francisco, CA from Houston, TX and I started on several school remodels throughout the Bay Area. After a year I transferred into Healthcare projects and helped one of the Partners manage all +40 active projects in Northern California. 
                            <br><br>
                            Together the Partner and I developed a workflow that gave him full transparency of all projects' status and updates, while allowing me the autonomy to learn and grow into project management.
                        </p>
                    </div>
                </div>
            </li>

            <!-- STUB timeline 4th (from top) -->
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" 
                        src="assets/img/pbd_logo.png" 
                        alt="University of Houston logo" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            Jul 2014 - Jul 2015
                        </h4>
                        <h5 class="subheading">
                            Patrick Berrios Designs
                        </h5>
                        <p class="item-intro text-muted">
                            Building Designer
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            Hired on a 30-day contract to learn new software with the opportunity to sign full-time pending my performance. Following the end of my contract I joined the 3D modeling and design team and worked on +27 private high-end luxury homes in Texas. Home sizes often ranged from 5,000 to 9,000 Sq Ft. 
                        </p>
                    </div>
                </div>
            </li>

            <!-- STUB timeline 5th (bottom) -->
            <li class="timeline">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" 
                        src="assets/img/uh_1.png" 
                        alt="University of Houston logo" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>
                            Aug 2008 - May 2014
                        </h4>
                        <h5 class="subheading">
                            University of Houston, 
                            <br>
                            Gerald D. Hines College of Architecture
                        </h5>
                        <p class="item-intro text-muted">
                            Bachelor's in Architecture
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            
                        </p>
                    </div>
                </div>
            </li>



        </ul>
    </div>
    
</section>