<header class="masthead"
    id="home"
    
    <div class="container">
        <div class="masthead-subheading">
            This must be the place
        </div>
        <div class="masthead-heading text-uppercase">
            Rodrigo
            <br>
            Marron
        </div>

        <br>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" 
            href="#portfolio">
            <i class="fas fa-tasks fa-1x"></i>
            projects
        </a>
        <br>
        <br>

        <!-- STUB resume link -->
        <h5>
            <a class="btn btn-primary btn-xl text-uppercase"
                href="https://drive.google.com/file/d/1kidOGG5QPhjawkqfMHzKZsaWnTx7rwQ5/view" 
                class=" text-uppercase"
                target="_blank">
                <i class="fas fa-file fa-1x"></i>
                Resume
            </a>
            <br>
        </h5>
    </div>

</header>