<header class="masthead">
    
    <div class="container">
        <div class="masthead-subheading">
            This must be the place
        </div>
        <div class="masthead-heading text-uppercase">
            RMarron
        </div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" 
            href="#portfolio">
            See the Show!
        </a>
    </div>

</header>