<header class="masthead">
    
    <div class="container">
        <div class="masthead-subheading">
            Welcome to my Portfolio!
        </div>
        <div class="masthead-heading text-uppercase">
            Look Around
        </div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" 
            href="#portfolio">
            Show me what you got
        </a>
    </div>

</header>