<section class="page-section" 
    id="skills">

    <div class="container">
        <div class="text-center">
            <!-- STUB title -->
            <h2 class="section-heading text-uppercase">
                Skills
            </h2>
            <h3 class="section-subheading text-muted">
                Programming Languages | Libraries & Frameworks | Misc.
            </h3>
        </div>
    <div class="row text-center"">

        <!-- STUB JS-->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/JS.png" 
                        alt="JavaScript logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        JavaScript
                    </div>
                </div>
            </div>
            <br>
        </div>
        
        <!-- STUB html -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                <img class="img-fluid" id="thumbnail" 
                src="assets/img/skills/html.png" 
                alt="HTML logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        HTML 5 
                    </div>
                </div>
            </div>
            <br>
        </div>
        

        <!-- STUB css -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                <img class="img-fluid" id="thumbnail" 
                src="assets/img/skills/css.svg" 
                alt="css logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        CSS 
                    </div>
                </div>
            </div>
            <br>
        </div>
        
        <!-- STUB python -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/python.png" 
                        alt="Python logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        Python
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB node js -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/nodejs.jpg" 
                        alt="Node js logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        Node js
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB mongo DB -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/mongodb.jpg" 
                        alt="mongo DB logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        MongoDB
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB postgresSQL -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/postgres.jpg" 
                        alt="postgresSQL logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        postgresSQL
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB SQL -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/sql.png" 
                        alt="SQL logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        SQL
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB django -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/django.jpg" 
                        alt="django logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        django
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB git -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/git.png" 
                        alt="git logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        Git
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB bootstrap -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/bootstra.png" 
                        altbootstrap logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        Bootstrap
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB bulma -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/bulma.png" 
                        alt="bulma logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        Bulma
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB Illustrator -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/Illustrator.png" 
                        alt="Illustrator logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        Adobe Illustrator
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB airtable -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/airtable.png" 
                        alt="airtable logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        Airtable
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB notion -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/notion.png" 
                        alt="notion logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        Notion
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- STUB G suite -->
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="portfolio-item text-center">
                    <img class="img-fluid" id="thumbnail" 
                        src="assets/img/skills/gsuite.png" 
                        alt="G suite logo" />
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">
                        Google Suite
                    </div>
                </div>
            </div>
            <br>
        </div>
            
            


    </div>

</section>