<!DOCTYPE html>
<html lang="en">
<head>
    <!-- STUB head-links -->
    <%- include ("./0-partials/head-links.ejs") -%>

    <title>RM-portafolio</title>
</head>
<body>
    <!-- STUB navbar -->

    <main class="main">



    </main>



    <!-- STUB contact button -->
    <%- include ("./0-partials/footer/connect-btn.ejs") -%>

</body>
</html>