<!DOCTYPE html>
<html lang="en">
<head>
    <!-- STUB head-links -->
    <%- include ("./0-partials/head-links.ejs") -%>

    <title>rm lookbook</title>
</head>
<body>
    <h1>PORTFOLIO IO IO</h1>


    <footer>
        <!-- STUB contact button -->
        <%- include ("./0-partials/connect-btn.ejs") -%>
    </footer>
</body>
</html>