<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- STUB head-links -->
        <%- include ("./0-partials/head-links.ejs") -%>

        <title>RM-portafolio</title>
    </head>


    <body>
        <!-- STUB navbar -->
        <%- include ("./0-partials/navbar.ejs") -%>

        <main class="main">
            
            <!-- STUB cover -->
            <%- include ("./0-partials/cover.ejs") -%>

        </main>

    </body>
</html>