<section class="page-section bg-light" 
    id="portfolio">

    <!-- STUB portfolio title -->
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">
                Portfolio
            </h2>
            <h3 class="section-subheading text-muted">
                Lorem ipsum dolor sit amet consectetur.
            </h3>
        </div>

        <!-- STUB grid Modal 1 -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">

                <div class="portfolio-item">
                    <a class="portfolio-link" 
                        data-toggle="modal" 
                        href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" 
                            src="assets/img/portfolio/01-thumbnail.jpg" 
                            alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">
                            Threads
                        </div>
                        <div class="portfolio-caption-subheading text-muted">
                            Illustration
                        </div>
                    </div>
                </div>
            </div>

            <!-- STUB grid Modal 2 -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" 
                        data-toggle="modal" 
                        href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" 
                            src="assets/img/portfolio/02-thumbnail.jpg" 
                            alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">
                            Explore
                        </div>
                        <div class="portfolio-caption-subheading text-muted">
                            Graphic Design
                        </div>
                    </div>
                </div>
            </div>

            <!-- STUB grid Modal 3 -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" 
                        data-toggle="modal" 
                        href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" 
                            src="assets/img/portfolio/03-thumbnail.jpg" 
                            alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">
                            Finish
                        </div>
                        <div class="portfolio-caption-subheading text-muted">
                            Identity
                        </div>
                    </div>
                </div>
            </div>

            <!-- STUB grid Modal 4 -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" 
                        data-toggle="modal" 
                        href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" 
                            src="assets/img/portfolio/04-thumbnail.jpg" 
                            alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">
                            Lines
                        </div>
                        <div class="portfolio-caption-subheading text-muted">
                            Branding
                        </div>
                    </div>
                </div>
            </div>

            <!-- STUB grid Modal 5 -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" 
                        data-toggle="modal" 
                        href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" 
                            src="assets/img/portfolio/05-thumbnail.jpg" 
                            alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">
                            Southwest
                        </div>
                        <div class="portfolio-caption-subheading text-muted">
                            Website Design
                        </div>
                    </div>
                </div>
            </div>

            <!-- STUB grid Modal 6 -->
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-item">
                    <a class="portfolio-link" 
                        data-toggle="modal" 
                        href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" 
                            src="assets/img/portfolio/06-thumbnail.jpg" 
                            alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">
                            Window
                        </div>
                        <div class="portfolio-caption-subheading text-muted">
                            Photography
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

</section>

<!-- SECTION  Portfolio Modals ================================================================== -->

        
        <!-- SECTION Modal 1 actual -->
        <div class="portfolio-modal modal fade" 
            id="portfolioModal1" 
            tabindex="-1" 
            role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" 
                        data-dismiss="modal">
                        <img src="assets/img/close-icon.svg" 
                            alt="Close modal" />
                        </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">

                                <!-- STUB Modal 1 actual deets -->
                                <div class="modal-body">
                                    <h2 class="text-uppercase">
                                        Project Name
                                    </h2>
                                    <p class="item-intro text-muted">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </p>
                                    <img class="img-fluid d-block mx-auto" 
                                        src="assets/img/portfolio/01-full.jpg" 
                                        alt="" />
                                    <p>
                                        Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    </p>

                                    <!-- STUB Modal 1 actual list -->
                                    <ul class="list-inline">
                                        <li> Date: January 2020 </li>
                                        <li> Client: Threads </li>
                                        <li> Category: Illustration </li>
                                    </ul>

                                    <!-- STUB Modal 1 actual button -->
                                    <button class="btn btn-primary" 
                                        data-dismiss="modal" 
                                        type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- SECTION Modal 2 actual -->
        <div class="portfolio-modal modal fade" 
            id="portfolioModal2" 
            tabindex="-1" 
            role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" 
                        data-dismiss="modal">
                        <img src="assets/img/close-icon.svg" 
                            alt="Close modal" />
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">

                                <!-- STUB Modal 2 actual deets -->
                                <div class="modal-body">
                                    <h2 class="text-uppercase">
                                        Project Name
                                    </h2>
                                    <p class="item-intro text-muted">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </p>
                                    <img class="img-fluid d-block mx-auto" 
                                        src="assets/img/portfolio/02-full.jpg" 
                                        alt="" />
                                    <p>
                                        Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    </p>

                                    <!-- STUB Modal 2 actual list -->
                                    <ul class="list-inline">
                                        <li> Date: January 2020 </li>
                                        <li> Client: Explore </li>
                                        <li> Category: Graphic Design </li>
                                    </ul>

                                    <!-- STUB Modal 2 actual button -->
                                    <button class="btn btn-primary" 
                                        data-dismiss="modal" 
                                        type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- SECTION Modal 3 actual -->
        <div class="portfolio-modal modal fade" 
            id="portfolioModal3" 
            tabindex="-1" 
            role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" 
                        data-dismiss="modal">
                        <img src="assets/img/close-icon.svg" 
                            alt="Close modal" />
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">

                                <!-- STUB Modal 3 actual deets -->
                                <div class="modal-body">
                                    <h2 class="text-uppercase">
                                        Project Name
                                    </h2>
                                    <p class="item-intro text-muted">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </p>
                                    <img class="img-fluid d-block mx-auto" 
                                        src="assets/img/portfolio/03-full.jpg" 
                                        alt="" />
                                    <p>
                                        Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    </p>

                                    <!-- STUB Modal 3 actual list -->
                                    <ul class="list-inline">
                                        <li>Date: January 2020</li>
                                        <li>Client: Finish</li>
                                        <li>Category: Identity</li>
                                    </ul>

                                    <!-- STUB Modal 3 actual button -->
                                    <button class="btn btn-primary" 
                                        data-dismiss="modal" 
                                        type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- SECTION Modal 4 actual -->
        <div class="portfolio-modal modal fade" 
            id="portfolioModal4" 
            tabindex="-1" 
            role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" 
                        data-dismiss="modal">
                        <img src="assets/img/close-icon.svg" 
                            alt="Close modal" />
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">

                                <!-- STUB Modal 4 actual deets -->
                                <div class="modal-body">
                                    <h2 class="text-uppercase">
                                        Project Name
                                    </h2>
                                    <p class="item-intro text-muted">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </p>
                                    <img class="img-fluid d-block mx-auto" 
                                        src="assets/img/portfolio/04-full.jpg" 
                                        alt="" />
                                    <p>
                                        Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    </p>

                                    <!-- STUB Modal 4 actual list -->
                                    <ul class="list-inline">
                                        <li>Date: January 2020</li>
                                        <li>Client: Lines</li>
                                        <li>Category: Branding</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- SECTION Modal 5 actual -->
        <div class="portfolio-modal modal fade" 
            id="portfolioModal5" 
            tabindex="-1" 
            role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" 
                        data-dismiss="modal">
                        <img src="assets/img/close-icon.svg" 
                            alt="Close modal" />
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">

                                <!-- STUB Modal 5 actual deets -->
                                <div class="modal-body">
                                    <h2 class="text-uppercase">
                                        Project Name
                                    </h2>
                                    <p class="item-intro text-muted">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </p>
                                    <img class="img-fluid d-block mx-auto" 
                                        src="assets/img/portfolio/05-full.jpg"
                                        alt="" />
                                    <p>
                                        Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    </p>

                                    <!-- STUB Modal 5 actual list -->
                                    <ul class="list-inline">
                                        <li>Date: January 2020</li>
                                        <li>Client: Southwest</li>
                                        <li>Category: Website Design</li>
                                    </ul>

                                    <!-- STUB Modal 5 actual button -->
                                    <button class="btn btn-primary" 
                                        data-dismiss="modal" 
                                        type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- SECTION Modal 6 actual -->
        <div class="portfolio-modal modal fade" 
            id="portfolioModal6" 
            tabindex="-1" 
            role="dialog" 
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" 
                        data-dismiss="modal">
                        <img src="assets/img/close-icon.svg" 
                            alt="Close modal" />
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">

                                <!-- STUB Modal 6 actual deets -->
                                <div class="modal-body">
                                    <h2 class="text-uppercase">
                                        Project Name
                                    </h2>
                                    <p class="item-intro text-muted">
                                        Lorem ipsum dolor sit amet consectetur.
                                    </p>
                                    <img class="img-fluid d-block mx-auto" 
                                        src="assets/img/portfolio/06-full.jpg" 
                                        alt="" />
                                    <p>
                                        Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    </p>

                                    <!-- STUB Modal 6 actual list -->
                                    <ul class="list-inline">
                                        <li>Date: January 2020</li>
                                        <li>Client: Window</li>
                                        <li>Category: Photography</li>
                                    </ul>

                                    <!-- STUB Modal 6 actual button -->
                                    <button class="btn btn-primary" 
                                        data-dismiss="modal" 
                                        type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>